@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@layer components {
    .navbar {
        @apply bg-white flex gap-5 justify-center items-center p-2 mt-20 relative;
    }

    .shop-button {
        box-shadow: 0 0 0 10px #A9C0FF;
        @apply p-7 px-8 bg-[#613EEA] rounded-full absolute;
        top: 50%;
        left: 50%;
        transform: translate(-25%, -100%);
    }

    .shop-button:hover {
        @apply scale-110;
    }
}
